
 {% extends 'TempHamza/front.html.twig' %}
{% block body %}
<center>


<center>
    <h1 style="color: #A0BCF1;">Espace Inscription Patient </h1>
</center>



     <div class="footer before-after bg-white">
   
    <br><br>
    <div class="col-lg-7">
      {{ include('reservation/_form.html.twig') }}
    </div>
  </div>
  </center>
{% endblock %}
