{% extends 'TempHamza/front.html.twig' %}

{% block body %}
<center>
     <div class="footer before-after bg-white">
   
    <br><br>
    <div class="col-lg-7">
      {{ include('reservation/_form.html.twig') }}
    </div>
  </div>
  </center>
{% endblock %}