{% extends 'base.html.twig' %}

{% block title %}Edit Messages{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .container {
            margin-top: 30px;
        }

        .form-container {
            width: 100%;
            max-width: 600px; /* Adjust the maximum width as needed */
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #dee2e6;
            border-radius: 8px;
        }

        .btn-back-to-list {
            margin-top: 10px;
            color: #fff;
            background-color: #007bff;
            border: 2px solid #007bff;
        }

        .btn-back-to-list:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Messages</h1>

        <div class="form-container">
            {{ include('messages/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('app_messages_index') }}" class="btn btn-back-to-list">Back to list</a>
        </div>

        {{ include('messages/_delete_form.html.twig') }}
    </div>
{% endblock %}
